// ---------------------------------------------------------------------------------------------------------------------
// Pre-Define Variables
$iconfont-create-font-face: false !default;
$iconfont-create-icon-class: false !default;

$stylesheet-context: 'screen' !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-history--use-css: true !default;
$ce-history--layout-default: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@include stylesheet-context($stylesheet-context-screen) {
	@if($ce-history--use-css) {

		.ce-history {
			& {
				margin: 800px 0 0 0;
			}

			.ce-frame--inner {
				position: relative;
				padding: 0 0 0 0;
			}

			.watch {
				content: '';
				position: absolute;
				background: green;
				top: 0; bottom: -100px;
				width: 100%;
				z-index: -1;
			}

			.indicator {
				position: absolute;
				top: 0; left: 100px;
				width: 10px;
				height: 0;
				background: red;
				transition: height 0.1s;
			}

			.ce-frame--inner {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				li {
					background: gold;
					height: 300px;
				}

				li:last-child {
					background: goldenrod;
					height: 600px;
				}
			}
		}

		// -------------------------------------------------------------------------------------------------------------------
		// >= 768px
		@include media-breakpoint-up(md) {
		}

		// -------------------------------------------------------------------------------------------------------------------
		// >= 992px
		@include media-breakpoint-up(lg) {
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Print
@include stylesheet-context($stylesheet-context-print) {
}

// ---------------------------------------------------------------------------------------------------------------------
// PDF
@include stylesheet-context($stylesheet-context-pdf) {
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/history';