// ---------------------------------------------------------------------------------------------------------------------
// Pre-Define Variables
$iconfont-create-font-face: false !default;
$iconfont-create-icon-class: false !default;

$stylesheet-context: 'screen' !default;

// ---------------------------------------------------------------------------------------------------------------------
// Bootstrap & XNA
@import '../../../../xna/Resources/Public/Sass/functions';
@import '../../../../xna/Resources/Public/Sass/variables';
@import '../../../../xna/Resources/Public/Sass/mixins';
@import '../../../../xna/Resources/Public/Sass/definitions';

// ---------------------------------------------------------------------------------------------------------------------
// Variablen
$ce-history--use-css: true !default;
$ce-history--layout-default: true !default;

// ---------------------------------------------------------------------------------------------------------------------
// CSS
@include stylesheet-context($stylesheet-context-screen) {
	@if($ce-history--use-css) {
		.ce-history {
			.ce-frame--inner {
				position: relative;
			}
		}

		.ce-history--static {
			*, *:before {
				transition-duration: 0s !important;
			}
		}

		.ce-history__indicator {
			position: absolute;
			top: 23px;
			left: 18px;
			z-index: 10;
			width: 4px;
			height: 0;
			background: $theme-color-primary;
			transition: height 0.1s;
		}

		.ce-history__container {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.ce-history-item__date {
			font-size: rem(24px);
			color: $theme-color-secondary;
			opacity: 0;
			transform: translate(75px, 0);
			transition: all ease-out 0.45s;
		}

		.ce-history-item__content {
			opacity: 0;
			transform: translate(75px, 0);
			transition: all 0.45s ease-out 0.045s;
		}

		.ce-history-item__title {
			& {
				margin-top: rem(5px);
			}

			&, h2, h3, h4 {
				font-size: rem(20px);
				font-weight: $font-weight-bold;
			}

			& + p {
				margin-top: 0;
			}
		}

		.ce-history-item {
			& {
				position: relative;
				z-index: 5;
				padding: rem(10px 0 0 60px);
				overflow: hidden;
			}

			&:before {
				content: '';
				background: $theme-color-primary;
				position: absolute;
				top: 20px; left: 11px;
				width: 18px;
				height: 18px;
				transform: scale(0);
				border-radius: 50%;
				transition: transform $transition-duration;
			}

			& + .ce-history-item {
				margin-top: rem(45px);
			}
		}

		.ce-history-item--visible {
			&:before {
				transform: scale(1);
			}

			.ce-history-item__date, .ce-history-item__content {
				transform: translate(0, 0);
				opacity: 1;
			}
		}

		// -------------------------------------------------------------------------------------------------------------------
		// >= 992px
		@include media-breakpoint-up(lg) {
			.ce-history__indicator {
				left: rem(125px);
			}

			.ce-history-item {
				& {
					display: flex;
					padding: rem(10px 0 0 0);
				}

				&:before {
					left: rem(118px);
				}
			}

			.ce-history-item__date {
				width: rem(100px);
				transform: translate(-75px, 0);
				font-size: rem(28px);
			}

			.ce-history-item__content {
				flex: 1;
				padding: rem(0 0 0 70px);
			}


		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------
// Print
@include stylesheet-context($stylesheet-context-print) {
}

// ---------------------------------------------------------------------------------------------------------------------
// PDF
@include stylesheet-context($stylesheet-context-pdf) {
}

// ---------------------------------------------------------------------------------------------------------------------
// XNA Override
@import '../../../../xna/Resources/Public/Sass/xna/modules/history';